<button type="button" class="btn btn-info btn-sm" (click)="openModal()">Hallgató kiválasztása</button>
<div *ngIf="nev">
    {{nev}}
</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Hallgatók listája
                    </button>
                    <ul  class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li *ngFor="let student of studentList"><a (click)="changeValue(student)" class="dropdown-item">{{student.nev}}</a></li>
                    </ul>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="onCloseHandled()">Bezárás</button>

            </div>
        </div>
    </div>
</div>


