<div class="container-fluid">
  <div class="row form-centered">
    <div class="col-xl-4 col-md-3 col-sm-2"></div>
    <div class="col-xl-4 col-md-6 col-sm-8">
      <form class="d-flex flex-column">
        <h2 class="align-self-center">Bejelentkezés</h2>
        <hr>
        <div class="form-group mb-4">
          <label for="exampleInputEmail1" class="mb-1">Email</label>
          <input [(ngModel)]="loginModel.email" [formControl]="form" name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="kiss.ferenc@gmail.com">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" class="mb-1">Jelszó</label>
          <input [(ngModel)]="loginModel.password" name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password">
        </div>
        <div class="align-items-end">
          <button type="submit" id="btn-login" class="btn w-100 btn-primary mt-5" (click)="loginSend()">Bejelentkezés</button>
        </div>
        <div class="align-items-end">
          <a routerLink="/register"><button type="button" id="btn-register" class="btn w-100 btn-primary my-3">Regisztráció</button></a>
        </div>
      </form>
    </div>
    <div class="col-xl-4 col-md-3 col-sm-2"></div>


  </div>
</div>
