
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
 
  
  .selected {
    background-color: greenyellow;
  }

  .h1{
    margin-bottom: 50px;
  }

  .container{
    max-width: 50%;
    justify-content: center;
  }
 