<div class="container my-5">
  <div class="row">
    <div class="col">
      <form (ngSubmit)="addStudentsForm()">
        <table class="table table-warning table-striped table-hover">
          <thead>
            <tr>
              <th colspan="2">Adjon hozzá további hallgatókat</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of unsubscribedStudents">
              <td>
                <label class="form-check-label h-100" for="{{item.neptunKod}}">{{item.nev}} ({{item.neptunKod}})</label>
              </td>
              <td>
                <div class="d-flex justify-content-end align-items-center h-100">
                  <input class="form-check-input chb-style my-1" type="checkbox" name="" id="{{item.neptunKod}}"
                    (change)="checkboxClicked($event, item)">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-end align-items-center">

          <button type="submit" id="btn-add-student" class="btn btn-submit my-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-add"
              viewBox="0 0 16 16">
              <path
                d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
              <path
                d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z" />
            </svg>&nbsp;
            Hallgatók felvétele
          </button>
        </div>
      </form>
    </div>
    <div class="col">
      <table class="table table-success table-striped table-hover">
        <thead>
          <tr>
            <th colspan="2">Töröljön felhasználókat!</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of subscribedStudents">
            <td>
              <label class="form-check-label" for="{{item.neptunKod}}">{{item.nev}} ({{item.neptunKod}})</label>
            </td>
            <td>
              <div class="d-flex justify-content-end align-items-center">

                <button type="button" id="btn-delete" class="btn btn-sm btn-danger my-3" (click)="removeStudent(item)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person-dash-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z" />
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                  </svg>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
