

  .my-button:hover {
    background-color: #45A049; /* Update with desired hover color */
  }

  .my-button:active {
    background-color: #3E9142; /* Update with desired active color */
  }

  .red-button:hover {
    background-color: #FF3333; /* Update with desired hover color */
  }

  .red-button:active {
    background-color: #CC0000; /* Update with desired active color */
  }


  .selected {
    background-color: #31e981;
    margin: 0 5px !important;
    color: #000;
    border: none;
    transition: .3s;
    border: solid #26bd67 1px;
    border-left-width: 5px;
  }

  .selected:hover {
    background-color: #26bd67;
    color: #fff;
    transition: .3s;
  }

.selected:focus {
  box-shadow: none;
}



#btn-delete{
  background-color: #ff4f4f;
  margin: 0 !important;
  color: #ffffff;
  border: none;
  transition: .3s;
  display: flex;
  align-items: center;
}

#btn-delete:hover{
  background-color: #ff2121;
  color: #fff;
  transition: .3s;
}

.table {
  box-shadow: 3px 3px 5px rgba(83, 74, 56, 0.284);
}



