<div class="button-container">
    <button (click)="SelectObject('Hallgato')" [class.selected]="selectedObject === 'Hallgato'">Hallgatók</button>
    <button (click)="SelectObject('Ora')" [class.selected]="selectedObject === 'Ora'">Órák</button>
    <button (click)="SelectObject('Terem')" [class.selected]="selectedObject === 'Terem'">Termek</button>
</div>
  


<ng-container *ngIf="selectedObject=='Hallgato'">
    <h1>Hallhatók</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Neptun</th>
          <th scope="col">Név</th>
          <th scope="col">Kar</th>
          <th scope="col">Képzés</th> 
          <th scope="col"></th> 
        </tr>
      </thead>
      <tbody>
        <ng-container  *ngFor="let item of students; let i = index">
          <tr>
            <td>{{ item.neptunKod }}</td>
            <td>{{ item.nev }}</td>
            <td>{{ item.kar }}</td>
            <td>{{ item.kepzesNev }}</td>
            <td class="narrow-row">
              <button *ngIf="this.api.isLoggedIn()" (click)="delete('Hallgato',item.neptunKod)" class="red-button">DELETE</button>
            </td>
        </ng-container>
      </tbody>
    </table>
</ng-container>

<ng-container *ngIf="selectedObject=='Ora'">
    <h1>Órák</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Név</th>
          <th scope="col">Terem Név</th>
          <th scope="col">Óra Kezdete</th> 
          <th scope="col">Óra Vége</th> 
          <th scope="col">Alkalmak Száma</th> 
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container  *ngFor="let item of subjects; let i = index">
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.nev }}</td>
            <td>{{ item.teremNev }}</td>
            
            <td>{{item.oraKezdet}}</td>

            <td>{{ item.oraVeg }}</td>
            <td>{{ item.alkalmakSzama }}</td>
            <td class="narrow-row">
              <button *ngIf="this.api.isLoggedIn()" (click)="delete('Ora',item.id)" class="red-button">DELETE</button>
            </td>
        </ng-container>
      </tbody>
    </table>
</ng-container>

<ng-container *ngIf="selectedObject=='Terem'">
    <h1>Termek</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Név</th>
          <th scope="col">Elrendezés</th> 
          <th scope="col"></th> 
        </tr>
      </thead>
      <tbody>
        <ng-container  *ngFor="let item of classrooms; let i = index">
          <tr>
            <td>{{ item.nev }}</td>
            <td>{{item.elrendezes}}</td>
            <td class="narrow-row">
              <button *ngIf="this.api.isLoggedIn()" (click)="delete('Hallgato',item.nev)" class="red-button">DELETE</button>
            </td>
        </ng-container>
      </tbody>
    </table>
</ng-container>


