<div class="container-md text-center my-5">
    <button class="btn" (click)="SelectObject('Hallgato')" [class.selected]="selectedObject === 'Hallgato'">Hallgatók</button>
    <button class="btn" (click)="SelectObject('Ora')" [class.selected]="selectedObject === 'Ora'">Órák</button>
    <button class="btn" (click)="SelectObject('Terem')" [class.selected]="selectedObject === 'Terem'">Termek</button>
</div>


<div class="container-md">

<ng-container *ngIf="selectedObject=='Hallgato'">
  <div class="container my-5">
    <div class="row">
      <div class="col">
        <h1>Hallgatók</h1>
      </div>
    </div>
  </div>
    <table class="table table-sm table-striped table-warning table-hover">
      <thead>
        <tr>
          <th scope="col">Neptun</th>
          <th scope="col">Név</th>
          <th scope="col">Kar</th>
          <th scope="col">Képzés</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container  *ngFor="let item of students; let i = index">
          <tr>
            <td>{{ item.neptunKod }}</td>
            <td>{{ item.nev }}</td>
            <td>{{ item.kar }}</td>
            <td>{{ item.kepzesNev }}</td>
            <td class="d-flex justify-content-center">
              <button *ngIf="this.api.isLoggedIn()" id="btn-delete" (click)="delete('Hallgato',item.neptunKod)" class="btn btn-sm btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                </svg>&nbsp;Törlés</button>
            </td>
        </ng-container>
      </tbody>
    </table>
</ng-container>

<ng-container *ngIf="selectedObject=='Ora'">
    <h1>Órák</h1>
    <table class="table table-sm table-striped table-warning table-hover">
      <thead>
        <tr>
          <th scope="col">Név</th>
          <th scope="col">Terem neve</th>
          <th scope="col">Óra ideje</th>
          <th scope="col">Alkalmak Száma</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container  *ngFor="let item of subjects; let i = index">
          <tr>
            <td>{{ item.nev }}</td>
            <td>{{ item.teremNev }}</td>

            <td>{{item.oraKezdet | date:"EEEE" }} | {{item.oraKezdet | date:"HH:mm"}} - {{item.oraVeg | date:"HH:mm"}}</td>

            <td>{{ item.alkalmakSzama }}</td>
            <td class="d-flex justify-content-center">
              <button *ngIf="this.api.isLoggedIn()" id="btn-delete" (click)="delete('Ora',item.id)" class="btn btn-sm btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
              </svg>&nbsp;Törlés</button>
            </td>
        </ng-container>
      </tbody>
    </table>
</ng-container>

<ng-container *ngIf="selectedObject=='Terem'">
    <h1>Termek</h1>
    <table class="table table-sm table-striped table-warning table-hover">
      <thead>
        <tr>
          <th scope="col">Név</th>
          <th scope="col">Elrendezés</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container  *ngFor="let item of classrooms; let i = index">
          <tr>
            <td>{{ item.nev }}</td>
            <td>{{item.elrendezes}}</td>
            <td class="d-flex justify-content-center">
              <button *ngIf="this.api.isLoggedIn()" id="btn-delete" (click)="delete('Terem',item.nev)" class="btn btn-sm btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                </svg>&nbsp;Törlés
              </button>
            </td>
        </ng-container>
      </tbody>
    </table>
</ng-container>


</div>
