.container{
    min-width: 1500px;
    display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

app-cell{
    width: 200px;
    height: 200px;
    margin: 5px 0px 5px 0px;
    
}



.emptyspace{
    background-color: white;

}
