.ratings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-search{
  background-color: #31e981;
  margin: 0 5px !important;
  color: #000;
  border: none;
  transition: .3s;
  display: flex;
  align-items: center;
  border: solid #26bd67 1px;
  border-left-width: 5px;
  box-shadow: 3px 3px 5px rgba(83, 74, 56, 0.284);
}

.btn-search:hover{
  background-color: #26bd67;
  color: #fff;
  transition: .3s;
  box-shadow: inset 3px 3px 5px rgba(83, 74, 56, 0.284);
}

.btn-search:focus{
  box-shadow: none;
}

#check{
  color: #4b860d;
}

#x{
  color: #ff2121;
}

.table {
  border-collapse: collapse;
  box-shadow: 3px 3px 5px rgba(83, 74, 56, 0.284);
}

.table td, .table th {
  border: 1px solid #2978a0a0;
}

td.minusOne{
  background-color: #ff8190 !important;
}
td.zero{
  background-color: #b6d9ff !important;
}
td.plusOne{
  background-color: #31e981 !important;
}
