/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Montserrat:ital,wght@0,300;0,400;1,300;1,400&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  /*background: rgb(255,242,117);
  background: linear-gradient(324deg, #fff275 0%, #c6e0ff 70%);*/
  background: #7bb6ff;
  background: linear-gradient(324deg, #7bb6ff 0%, #c6e0ff 70%);

  height: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.table-warning{
  --bs-table-bg: #e1efff;
  --bs-table-striped-bg: #d3e8ff;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #d3e8ff;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #b6d9ff;
  --bs-table-hover-color: #000;
  border-color: #1d3557;
}


.table-success{
  --bs-table-bg: #96c2ff;
  --bs-table-striped-bg: #7eb0f6;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #7eb0f6;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #67a6fe;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #1d3557;
}

.table{
  box-shadow: 3px 3px 5px rgba(83, 74, 56, 0.284);
}
