/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Montserrat:ital,wght@0,300;0,400;1,300;1,400&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  /*background: rgb(255,242,117);
  background: linear-gradient(324deg, #fff275 0%, #c6e0ff 70%);*/
  background: #7bb6ff;
  background: linear-gradient(324deg, #7bb6ff 0%, #c6e0ff 70%);

  height: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
