<div class="container my-5">
  <div class="row mt-4">
    <div class="col-lg-10 col-md-8">
      <h1>{{me.nev}}</h1>
    </div>
    <div class="col-lg-2 col-md-4">
      <div class="align-items-end">
        <button type="button" id="btn-create" class="btn w-100 btn-primary my-3" routerLink="/oracreate">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>&nbsp;
          Új óra
        </button>
      </div>
    </div>
  </div>
  <div class="row my-4 alert alert-warning" *ngFor="let item of myClassesList">
    <div class="col">
      <div class="row">
        <div class="col">
          <h4 class="alert-heading" routerLink="/classroom/{{item.id}}/{{item.selectedAlkalom}}">{{item.nev}}</h4>
        </div>
        <div class="col d-flex justify-content-end">
          <button type="button" id="btn-delete" class="btn btn-danger my-3" (click)="deleteOra(item.id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
            </svg>&nbsp;
          Törlés
        </button>
        </div>
      </div>
      <p class="mt-3">Leírás: {{item.leiras}}</p>
      <hr>
      <!--Kattintható a terem badge és akkor feljön a tervrajza a teremnek-->
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-6">
            <div class="p-2 my-2 badge bg-primary d-inline-flex align-items-center" style="margin-right: 5px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-week" viewBox="0 0 16 16">
                <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
              </svg>&nbsp;
              {{item.oraKezdet | date:"EEEE" }} | {{item.oraKezdet | date:"HH:mm"}} - {{item.oraVeg | date:"HH:mm"}}
            </div>
            <div class="p-2 badge bg-danger d-inline-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>&nbsp;
              Terem | {{item.teremNev}}</div>
          </div>
          <div class="col-6">
            <div class="container-fluid">
              <div class="row">

                <div class="col-md-8">
                  <span>Alkalom kiválasztása: </span>
                </div>
                <div class="col-md-4">
                  <select class="form-select form-select-sm" aria-label=".form-select-sm example" (change)="alkalomValaszto($event, item)">
                    <option value="{{i+1}}" *ngFor="let alkalom of item.alkalmakSzama; index as i;">{{i+1}}</option>
                  </select>
                </div>
              </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
