.alert{
  border-left: 10px rgb(255, 179, 0) solid;
  background-color: #fffcda;
  box-shadow: 3px 3px 5px rgba(83, 74, 56, 0.284);
}

.alert-heading{
  transition: 0.2s;
  display: inline;
}

.alert-heading:hover{
  text-decoration: underline;
  transition: 0.2s;
  color: #231407;
  cursor:pointer;
}

#btn-create{
  background-color: #ffff84 ;
  color: #000;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 5px rgba(83, 74, 56, 0.284);
  transition: .3s;
}

#btn-create:hover{
  background-color: #f4f459;
  box-shadow: inset 3px 3px 5px rgba(83, 74, 56, 0.284);
  transition: .3s;
}

#btn-delete{
  background-color: #ff4f4f;
  color: #000;
  border: none;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 5px rgba(83, 74, 56, 0.284);
}

#btn-delete:hover{
  background-color: #ff2121;
  color: #fff;
  transition: .3s;
  box-shadow: inset 3px 3px 5px rgba(83, 74, 56, 0.284);
}

#btn-add-student{
  background-color: #4fff78;
  color: #000;
  border: none;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 5px rgba(83, 74, 56, 0.284);
}

#btn-add-student:hover{
  background-color: #21c224;
  color: #fff;
  transition: .3s;
  box-shadow: inset 3px 3px 5px rgba(83, 74, 56, 0.284);
}


.bi-person-add, .bi-dash-circle{
  margin-right: 5px !important;
}
