.alert{
  border-left: 10px rgb(255, 179, 0) solid;
}

.alert-heading{
  transition: 0.2s;
  display: inline;
}

.alert-heading:hover{
  text-decoration: underline;
  transition: 0.2s;
  color: #231407;
  cursor:pointer;
}

#btn-create{
  background-color: #ffff84 ;
  color: #000;
  border: none;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn-create:hover{
  background-color: #f4f459;
  transition: .3s;
}

#btn-delete{
  background-color: #ff4f4f;
  margin: 0 !important;
  color: #000;
  border: none;
  transition: .3s;
  display: flex;
  align-items: center;
}

#btn-delete:hover{
  background-color: #ff2121;
  color: #fff;
  transition: .3s;
}
