<div class="container my-5">
  <div class="row mt-4">
    <h1>{{me.nev}}</h1>
  </div>
  <div class="row my-4 alert alert-warning" *ngFor="let item of myClassesList">
    <div class="col">
      <h4 class="alert-heading">{{item.nev}}</h4>
      <p>Leírás: {{item.leiras}}</p>
      <hr>
      <!--Kattintható a terem badge és akkor feljön a tervrajza a teremnek-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <div class="p-2 m-2 badge bg-primary">
              {{item.oraKezdet | date:"EEEE" }} | {{item.oraKezdet | date:"HH:mm"}} - {{item.oraVeg | date:"HH:mm"}}
            </div>
            <div class="p-2 m-2 badge bg-danger">Terem | {{item.teremNev}}</div>
          </div>
          <div class="col-6">
            <div class="container-fluid">
              <div class="row">

                <div class="col-md-8">
                  <span>Alkalom kiválasztása: </span>
                </div>
                <div class="col-md-4">
                  <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option value="{{i+1}}" *ngFor="let alkalom of item.alkalmakSzama; index as i;">{{i+1}}</option>
                  </select>
                </div>
              </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
