#check{
  color: #4b860d;
}

#x{
  color: #ff2121;
}

.table {
  border-collapse: collapse;
  box-shadow: 3px 3px 5px rgba(83, 74, 56, 0.284);
}

.table td, .table th {
  border: 1px solid #2978a0a0;
}

td.minusOne{
  background-color: #ff9090 !important;
}
td.zero{
  background-color: rgb(184, 184, 255) !important;
}
td.plusOne{
  background-color: #4fff78 !important;
}
