

.emptyspace{
    background-color: rgb(255, 255, 255);

}

div{
    width: 200px;
    height: 200px;
    margin: 5px 0px 5px 0px;
}

.name{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

form{
  display: flex;
  flex-direction: row;
}

.positive,.negative,.neutral,.emptyspace{
    border: 1px solid rgb(165, 165, 165);
    border-radius: 3px;
}

.positive{
    background-color: #4fff78;
}

.negative{
    background-color: #ff4f4f;
}

.neutral{
    background-color: beige;

}

.positive input[type='radio'] {
    accent-color: green;
}


.negative input[type='radio'] {
    accent-color: red;
}

container-element {

    justify-content: center; /* Horizontally center align */
    align-items: center; /* Vertically center align */
  }
